venv/

.idea/

data/test-set_simulated/

outputImages/otherMethods_simulated/*.png
outputImages/otherMethods_invivo/*.png
outputImages/otherMethods_experimental/*.png
outputImages/simulated/*.png
outputImages/simulated/denoised/*.png
outputImages/invivo/*.png
outputImages/invivo/denoised/*.png
outputImages/experimental/*.png
outputImages/experimental/denoised/*.png

*.pyc

